<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889069110881-d8smlip12tg2cjn0cujh5a683in4ehvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889069110881-d8smlip12tg2cjn0cujh5a683in4ehvm</string>
	<key>API_KEY</key>
	<string>AIzaSyCnEo4i57gT32yy8_fNeRFB0E3Rcp9gF64</string>
	<key>GCM_SENDER_ID</key>
	<string>889069110881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pencil.zahran</string>
	<key>PROJECT_ID</key>
	<string>zahran-7629b</string>
	<key>STORAGE_BUCKET</key>
	<string>zahran-7629b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889069110881:ios:0f7823e6ab3fa06bab4c20</string>
</dict>
</plist>